@import 'layout/navbar';
@import 'helpers/variables';
@import 'layout/container';
@import './layout/footer.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    line-height: 23px;
}

img {
    display: block;
}